body{
    margin-left: 20px;
}

.text{
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: 700;
    color: brown;
    text-transform: uppercase;
    font-size: 20px;
}

.week {
    text-transform: uppercase;
    margin: 10px 0;
    color: blueviolet;
    text-transform: uppercase;
    font-size: 15px; 
    padding-left: 20px;
    list-style-type: circle;
    display: flex;
    flex-direction: column;
}

.week span{
    color: red;
}

.max-result, .min-result{
    border: 2px dashed red;
    margin: 20px 0;
    padding: 10px;
    font-weight: bold;
}